.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  border: 1px black solid;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.yellowOn,
.redOn,
.greenOn,
.off {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: black;
  margin: 10px;
}
.yellowOn {
  background-color: yellow
}
.redOn {
  background-color: red
}
.greenOn {
  background-color: green
}
